* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Nunito", sans-serif;
  color: black;
  line-height: 1.6;
}

.header {
  text-align: center;
  margin: 35px;
  font-weight: bold;
}

.product-table {
  width: 100%;
  table-layout: fixed;
}

.table-header-cell {
  padding: 20px 4px;
  text-align: left;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
}

.product-table-cell {
  padding: 3px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  border-bottom: 1px solid #eee;
}

.product-row img {
  width: 100px;
  margin: 20px 20px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  .table-header {
    display: none;
  }

  .product-row {
    border: 1px solid #ccc;
  }

  .product-table-cell {
    border-bottom: 1px solid #eee;
    position: relative;
    text-align: center;
  }
}
